/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 4, 2021, 10:43:30 PM
    Author     : THT
*/


span {
    float: left;
    font-family: "Cushing Book";
    font-size: 75pt
}

p {
    margin-top: 5px
}

p.rhead {
    text-align: right;
    margin-right: 0.5in;
    font-family: sans-serif;
}

p.lhead {
    font-family: sans-serif;
}

body {
    text-align: justify;
    text-indent: 0.5in;
    BACKGROUND: url(images/bond-paper.jpg);
    background-size: 100%
    
}

p.foot {
    margin-left: 60%;
    line-height: 300%;
}